html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 25px; }

h3 {
  font-size: 20px; }

p {
  font-size: 15px; }

body {
  font-family: Roboto, sans-serif;
  background: #007CB1; }

.nav_container {
  background-color: #00B2FF; }
  .nav_container .menu {
    margin: 0 auto;
    max-width: 1440px; }
    .nav_container .menu .logo {
      background: yellow;
      height: 75px;
      width: 200px;
      float: left;
      line-height: 75px;
      text-align: center; }
    .nav_container .menu .navbar {
      width: 100%; }
    .nav_container .menu nav {
      font-size: 25px;
      text-align: center;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding-right: 200px; }
      .nav_container .menu nav ul {
        padding: 25px;
        margin: 0;
        list-style-type: none; }
        .nav_container .menu nav ul li {
          display: inline;
          padding: 0 9px;
          /*border-right: solid 1px white;*/ }
          .nav_container .menu nav ul li a {
            text-decoration: none;
            color: #ffffff;
            padding: 20px; }
          .nav_container .menu nav ul li a:hover {
            background-color: #007CB1; }
        .nav_container .menu nav ul li:last-child {
          border-right: none; }

.container {
  max-width: 1440px;
  min-width: 400px;
  margin: 30px auto 0 auto;
  background: #ffffff;
  padding: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .container .left {
    float: left;
    padding-right: 320px;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .container .right {
    float: left;
    width: 300px;
    margin-left: -300px;
    position: relative; }

.clear {
  clear: both; }

.main .news-item {
  border-bottom: solid 1px black;
  margin-bottom: 10px; }
  .main .news-item .news-image {
    width: 100%; }
  .main .news-item h2 {
    font-size: 36px; }
  .main .news-item p {
    margin: 10px 0;
    font-size: 18px; }
