@import '_main.scss';
$cyan: #00b2ff;
$hover_cyan: #007cb1;
$menu_fontsize: 25px;
$font: Roboto, sans-serif;
$logo_width: 200px;
$main_width: 1000px;

$color-primary-0: #00b2ff; // Main Primary color */
$color-primary-1: #33bffc;
$color-primary-2: #09b5ff;
$color-primary-3: #007cb1;
$color-primary-4: #005e86;


$rgba-primary-0: rgba( 0,178,255,1); // Main Primary color */
$rgba-primary-1: rgba( 51,191,252,1);
$rgba-primary-2: rgba( 9,181,255,1);
$rgba-primary-3: rgba( 0,124,177,1);
$rgba-primary-4: rgba( 0, 94,134,1);


@media screen and (max-width:1000px) {
    .nav {

        li:nth-child(n+2) {
            display: none;
        }
    }
}

@media screen and (max-width:1000px) {
    .nav {

        li:nth-child(n+2) {
            display: none;
        }
    }
}

@media screen and (max-width:1000px) {
    .nav {

        li:nth-child(n+2) {
            display: none;
        }
    }
}

@media screen and (max-width:1000px) {
    .nav {

        li:nth-child(n+2) {
            display: none;
        }
    }
}

@media screen and (max-width:1372px) {
    .nav {

        li:nth-child(n+6) {
            display: none;
        }
    }
}

body {
    font-family: $font;
    background: $color-primary-3;
}



.nav_container {
    display: flex;
    background-color: $cyan;
    margin-bottom: 10px;


    .logo {
        flex: 1 20%;
        order: 1;
        background-color: yellow;
        height: 75px;
        width: $logo_width;
        line-height: 75px;
        text-align: center;

        p {
            color: black;
        }
    }

    .navbar {
        flex: 2 80%;
        order: 2;
    }

    nav {
        font-size: $menu_fontsize;
        text-align: right;
        box-sizing: border-box;

        ul {
            padding: 25px;
            margin: 0;
            list-style-type: none;

            li {
                display: inline;
                /*padding: 0 9px;*/
                /*border-right: solid 1px white;*/
                a {
                    text-decoration: none;
                    color: #ffffff;
                    padding: 20px;
                }

                a:hover {
                    background-color: $hover_cyan;
                }
            }

            li:last-child {
                border-right: none;
            }
        }
    }
}


.flex_container {
    display: flex;
    justify-content: center;
    margin: 0 30px;
}

.left {
    flex: 2 80%;
    order: 1;
    background-color: #71c0e9;
}

.right {
    flex: 1 20%;
    order: 2;
    max-width: 300px;
    background-color: $color-primary-3;
}

.item {
    color: yellow;
    padding: 20px;
}


.main {
    .news-item {
        border-bottom: solid 1px black;
        margin-bottom: 10px;
        padding: 10px;
        overflow: auto;

        .news-image {
            width: 600px;
            float: left;
            margin: 0 20px 20px 0;
        }

        h2 {
            font-size: 36px;
        }

        a {
            text-decoration: none;
        }

        a:visited {
            color: $color-primary-4;
        }

        a:hover {
            color: $color-primary-3;
        }

        p {
            margin: 10px 0;
            font-size: 18px;
            text-indent: 20px;
        }
    }
}

.additional_info {
    background-color: #33bffc;
    padding: 15px;
}
